---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.vue';
import HeroSection from '../components/HeroSection.vue';
import ResearchSection from '../components/ResearchSection.vue';
import TeamSection from '../components/TeamSection.vue';
import PublicationsSection from '../components/PublicationsSection.vue';
import ProjectsSection from '../components/ProjectsSection.vue';
import ContactSection from '../components/ContactSection.vue';
import Footer from '../components/Footer.vue';
---

<Layout title="Marine Remote Sensing Lab">
  <Navigation client:load />
  <main>
    <HeroSection client:visible />
    <ResearchSection client:visible />
    <ProjectsSection client:visible />
    <TeamSection client:visible />
    <PublicationsSection client:visible />
    <ContactSection client:visible />
  </main>
  <Footer />
</Layout>
